.w-pagination-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.w-pagination-previous {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-previous-icon {
  margin-right: 4px;
}

.w-pagination-next {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-next-icon {
  margin-left: 4px;
}

body {
  color: #333;
  background-color: #151515;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  color: #04a3c3;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

p {
  color: #707070;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 25px;
}

a {
  text-decoration: none;
  transition: all .3s;
}

ul {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
}

li {
  color: #707070;
  margin-bottom: 10px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 20px;
  padding: 10px 20px 10px 30px;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 26px;
}

.hero {
  height: 100vh;
  max-height: 740px;
  min-height: 700px;
  padding-top: 0;
  position: relative;
}

.nav {
  width: 96%;
  max-width: 1180px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav.hero-nav {
  z-index: 2;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 80px;
  position: relative;
}

.nav.hero-nav:hover {
  color: #04a3c3;
}

.nav.blog-nav {
  margin-top: 0;
}

.logo {
  width: 200px;
  height: 30px;
  background-image: url('../images/logo_long_white.png');
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
}

.logo:hover {
  opacity: .5;
}

.logo.w--current {
  background-image: url('../images/logo_long_white.png');
}

.navigation {
  flex: 0 auto;
  align-items: center;
  display: flex;
}

.navigation.footernavigation {
  padding-left: 20px;
  padding-right: 20px;
}

.cz {
  width: 96%;
  height: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.cz.hero-cz {
  z-index: 1;
  flex-direction: column;
  display: flex;
  position: relative;
}

.cz.video-cz {
  perspective: 1000px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 105px;
}

.cz.cz-blog, .cz.cz-music {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cz.czbio {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-top: 100px;
  padding-bottom: 90px;
}

.cz.czfooter {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.cz.cz-dates {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 0;
}

.cz.cz-social {
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cz.blog-page-cz {
  z-index: 2;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.cz.blog-article-cz {
  max-width: 880px;
  color: #fff;
  flex-direction: column;
  align-items: flex-start;
}

.slide {
  object-fit: fill;
}

.sliderdiv {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.hero-slider {
  height: 100%;
  max-width: 880px;
  background-color: rgba(0, 0, 0, 0);
  flex: 1;
}

.sliderimage {
  height: 100%;
  min-width: 880px;
  background-image: url('../images/Mazzaroth-ill-01.png');
  background-position: 0 0;
  background-size: 880px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.sliderimage.sliderimage2 {
  background-image: url('../images/Mazzaroth-ill-03.png');
  background-size: 880px;
}

.sliderimage.sliderimage3 {
  object-fit: fill;
  background-image: url('../images/Mazzaroth-ill-12.png');
  background-size: 880px;
}

.slidertext {
  z-index: 3;
  width: 180px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

.newsingletext {
  color: rgba(255, 255, 255, .5);
  margin-bottom: 20px;
  font-family: Fandore, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

.h1 {
  width: 280px;
  color: #04a3c3;
  text-align: left;
  letter-spacing: -1px;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#04a3c3, rgba(255, 255, 255, .8));
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Bebasneue, sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}

.buttonplaynow {
  opacity: 1;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to right, #04a3c3, rgba(9, 52, 134, 0));
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 15px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  display: flex;
}

.buttonplaynow:hover {
  background-color: #242353;
  box-shadow: 0 10px 30px #000;
}

.socialmedia {
  margin-left: 70px;
}

.socialmedia.footersocial {
  width: 200px;
  flex: 0 auto;
  margin-left: 0;
  display: flex;
}

.sociallink {
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: rgba(255, 255, 255, .05);
  border-radius: 20px;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Fa brands 400", sans-serif;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
}

.sociallink:hover {
  background-color: #242353;
}

.sociallink.sociallinklast {
  margin-bottom: 0;
}

.sociallink.blacksociallink {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, .5);
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

.sociallink.blacksociallink:hover {
  box-shadow: none;
  background-color: #242353;
}

.sociallink.blacksociallink.extralinks {
  font-family: "Fa 400", sans-serif;
}

.sociallink.footersociallink {
  margin-bottom: 0;
  margin-left: 10px;
}

.hero-slider-arrows {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 80px;
  display: flex;
}

.cyrclebuttonarrow {
  width: 40px;
  height: 40px;
  background-image: url('../images/BgLeftArrow.png');
  background-position: 50% 26%;
  background-repeat: no-repeat;
  background-size: 80px;
  border: 0 rgba(0, 0, 0, 0);
  border-radius: 0;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  display: flex;
}

.cyrclebuttonarrow:hover {
  opacity: .5;
  transform: scale(.9);
}

.numberofslides {
  color: rgba(255, 255, 255, .5);
  margin-left: 0;
  margin-right: 20px;
  font-family: Bebasneue, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.navlink {
  color: #fff;
  margin-right: 20px;
  font-family: Space Project, sans-serif;
  font-weight: 400;
  line-height: 20px;
  transition: all .3s;
}

.navlink:hover, .navlink.w--current {
  color: #04a3c3;
}

.navlink.navlinklast {
  margin-right: 0;
}

.leftarrow {
  width: 8px;
  height: 14px;
  background-image: url('../images/ShapeLeftArrow.svg');
  background-position: 50%;
  background-size: cover;
}

.rightarrow {
  width: 8px;
  height: 14px;
  background-image: url('../images/ShapeRightArrow.svg');
  background-position: 50%;
  background-size: cover;
}

.playicon {
  color: #202020;
  margin-right: 10px;
  font-family: "Fa solid 900", sans-serif;
  font-size: 12px;
  display: inline-block;
}

.dates {
  z-index: 2;
  background-color: #000;
  position: relative;
}

.h2 {
  color: #fff;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 60px;
  font-family: Fandore, sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.h2._20px-h2 {
  margin-bottom: 20px;
}

.h2._0px-h2 {
  margin-bottom: 0;
}

.h2.minus30pxh2 {
  margin-top: -30px;
  font-family: Fandore, sans-serif;
  font-size: 50px;
}

.h2.minus30pxh2.datehead {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 100%;
}

.datesshedule {
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.contacts {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.datesline {
  border-bottom: 1px solid rgba(255, 255, 255, .05);
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  display: flex;
  overflow: visible;
}

.datesline.dateheader {
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 30px;
  padding-bottom: 0;
}

.standartbutton {
  min-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .05);
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  font-weight: 500;
  line-height: 14px;
  transition: all .3s;
  display: flex;
}

.standartbutton:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  box-shadow: 0 10px 30px #000;
}

.standartbutton.blogbutton {
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid #fff;
  padding-left: 30px;
  padding-right: 30px;
  transition-duration: .3s;
}

.standartbutton.blogbutton:hover {
  background-color: rgba(4, 163, 195, .7);
  background-image: linear-gradient(rgba(0, 0, 0, 0), #242353);
  border-color: #000;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
}

.standartbutton.loadmore-blog-button {
  min-height: 50px;
  background-color: #04a3c3;
  background-image: linear-gradient(360deg, #242353, rgba(255, 255, 255, .2));
  border-radius: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  display: flex;
}

.standartbutton.loadmore-blog-button:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
}

.datadiv {
  width: 280px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-right: 20px;
  display: flex;
}

.place {
  width: 280px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.datetimetext {
  color: #fff;
  letter-spacing: -.5px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.timeplacetext, .placetext {
  color: #04a3c3;
  letter-spacing: -.32px;
  font-weight: 500;
  line-height: 14px;
}

.containdp {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.forconcertorg {
  color: #ccc;
  text-align: center;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Bebasneue, sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 26px;
}

.orange-link {
  color: #04a3c3;
  text-decoration: underline;
}

.orange-link:hover {
  color: #fff;
}

.orcall {
  color: rgba(255, 255, 255, .5);
  margin-bottom: 20px;
}

.phonenumber {
  color: #fff;
  letter-spacing: -.5px;
  font-family: Bebasneue, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
}

.phonenumber:hover {
  color: #04a3c3;
}

.titlesocial {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.underhtext {
  color: #04a3c3;
  text-align: center;
  letter-spacing: -.5px;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.underhtext.blueunderh {
  width: 100%;
  max-width: 780px;
  color: #04a3c3;
  margin-bottom: 50px;
}

.instafeed {
  color: rgba(0, 0, 0, .5);
  letter-spacing: -.5px;
  margin-bottom: 20px;
  line-height: 14px;
}

.socialmediacont {
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.videosection {
  background-color: #101010;
}

.video {
  width: 780px;
  height: 440px;
  background-image: url('../images/Star_forming_region.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.video.videolandsc {
  border-radius: 15px;
  margin-right: 0;
}

.ellipsevideo {
  width: 160px;
  height: 160px;
  transform-style: preserve-3d;
  background-image: url('../images/circle-play-video_blue.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-right: -20px;
  display: flex;
  transform: translate3d(0, 0, 30px);
}

.polygonvideo {
  width: 50px;
  height: 60px;
  transform-origin: 50%;
  transform-style: preserve-3d;
  background-image: url('../images/PolygonVideo.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20px;
  position: absolute;
  transform: translate3d(0, 0, 60px);
}

.videotext {
  max-width: 340px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.hotnewtag {
  height: 30px;
  color: #fff;
  letter-spacing: -.32px;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to right, #04a3c3, rgba(9, 52, 134, 0));
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Fandore, sans-serif;
  font-weight: 700;
  line-height: 14px;
  display: flex;
}

.watchmytext {
  color: #fff;
  letter-spacing: -1px;
  font-family: Bebasneue, sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 65px;
}

.othervideoslink {
  color: #04a3c3;
  letter-spacing: -.5px;
  align-items: center;
  margin-top: 30px;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  display: flex;
}

.othervideoslink:hover {
  opacity: .5;
}

.videolinkarrow {
  width: 30px;
  height: 9px;
  color: #04a3c3;
  background-image: url('../images/arrow_blue.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 2px;
  margin-left: 10px;
}

.news {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
}

.blogdiv {
  max-width: 60%;
  object-fit: fill;
  padding-bottom: 10vh;
}

.blogdiv.bloglast {
  background-color: #101010;
  margin-right: 0;
}

.dateblog {
  color: #04a3c3;
  letter-spacing: -.32px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 14px;
}

.blogheader {
  color: #fff;
  letter-spacing: -.5px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.blogtext {
  color: #9dafbd;
  margin-bottom: 30px;
  line-height: 22px;
}

.blogtext.blognomargintext {
  margin-bottom: 0;
}

.musicsection {
  background-color: #101010;
  padding-left: 0;
  padding-right: 0;
  display: none;
}

.musictextblock {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.musicplayer {
  width: 100%;
  height: 400px;
  max-width: 980px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.nota {
  z-index: 1;
  color: #101010;
  letter-spacing: -.5px;
  font-family: "Fa solid 900", sans-serif;
  font-size: 80px;
  line-height: 80px;
  position: absolute;
}

.biosection {
  background-image: url('../images/bgBIO.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  overflow: visible;
}

.biography {
  max-width: 580px;
  background-color: #101010;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 0;
  padding: 50px 60px;
  display: flex;
}

.aboutmeinfo {
  color: #9dafbd;
  letter-spacing: -.5px;
  margin-top: 20px;
  line-height: 26px;
}

.footer {
  z-index: 2;
  background-color: rgba(21, 21, 21, .8);
  display: block;
  position: relative;
}

.tourdatesdiv {
  width: 100%;
  max-width: 1070px;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
}

.copyrighttext {
  color: #04a3c3;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .1);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Bebasneue, sans-serif;
  font-size: 18px;
}

.core {
  max-width: 100vw;
  overflow: hidden;
}

.block-ab {
  color: #04a3c3;
  display: block;
}

.numberslider {
  width: 20px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 15px;
}

.active-slide-number {
  color: #fff;
  text-align: center;
  font-family: Bebasneue, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 25px;
}

.visible-mask {
  overflow: visible;
}

.hero-slider-core {
  height: 100%;
  object-fit: fill;
  align-items: center;
  display: flex;
}

.hero-text-slider {
  z-index: 10;
  max-width: 180px;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 20px;
}

.slider-text-core {
  z-index: 5;
  perspective: 1000px;
  margin-right: 20px;
  position: relative;
}

.hero-bg {
  width: 120%;
  height: 120%;
  background-image: linear-gradient(#000, #000), linear-gradient(rgba(21, 21, 21, .5), rgba(21, 21, 21, .5));
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  top: -10%;
  bottom: 0;
  left: -10%;
  right: 0;
}

.photos {
  width: 120vw;
  overflow: hidden;
}

.insta-photos-line {
  height: 280px;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 40px;
  display: flex;
}

.insta-img {
  height: 280px;
  box-shadow: none;
  margin-right: 20px;
}

.video-link-core {
  margin-right: 60px;
  position: relative;
}

.spotify-code {
  z-index: 2;
  width: 100%;
  position: relative;
}

.under-music-code-div {
  margin-top: 30px;
}

.under-music-code {
  width: 201px;
}

.burger {
  display: none;
}

.remodal {
  z-index: 100;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  position: relative;
}

.pop-up-core {
  width: 96%;
  max-width: 580px;
  text-align: center;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.remodal-close-link {
  width: 40px;
  height: 40px;
  background-image: url('../images/cross-white.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 19px;
  margin-bottom: 40px;
  margin-right: -40px;
}

.remodal-close-link:hover {
  opacity: .5;
  transform: rotate(90deg);
}

.nuller {
  display: none;
}

.upper-link {
  z-index: 50;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.upper-link:hover {
  background-color: #04a3c3;
}

.up-icon {
  width: 20px;
  height: 20px;
  background-image: url('../images/ShapeRightArrow.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
}

.firstarticle-div {
  perspective: 1000px;
  align-items: center;
  margin-bottom: 100px;
  display: flex;
}

.first-article-image {
  width: 100%;
  height: 400px;
  max-width: 680px;
  background-image: url('../images/article-0.jpg');
  background-position: 0 0;
  background-size: 680px;
  border-radius: 15px;
  margin-right: 60px;
  position: relative;
}

.first-article-desc-div {
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  display: flex;
}

.first-artvice-h {
  color: #fff;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-family: Bebasneue, sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 65px;
}

.first-artvice-h.blog-artice-h {
  margin-bottom: 0;
}

.nav-div {
  z-index: 2;
  background-color: rgba(21, 21, 21, .8);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  margin-bottom: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.nav-div.blog-article-page-nav {
  margin-bottom: 0;
}

.blog-image {
  width: auto;
  height: 180px;
  min-width: 50%;
  object-fit: fill;
  background-image: url('../images/article-1.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 50px;
  margin-bottom: 40px;
}

.blog-image.blog-image-2 {
  background-image: url('../images/article-2.jpg');
  background-size: 340px;
}

.blog-image.blog-image-3 {
  background-image: url('../images/article-3.jpg');
  background-size: 340px;
}

.blog-image.blog-image-4 {
  background-image: url('../images/article-4.jpg');
  background-size: 340px;
}

.blog-image.blog-image-5 {
  background-image: url('../images/article-5.jpg');
  background-size: 340px;
}

.blog-image.blog-image-6 {
  background-image: url('../images/article-6.jpg');
  background-size: 340px;
}

.blog-page-bg {
  z-index: 1;
  opacity: .2;
  background-image: url('../images/Star_forming_region.jpg');
  background-position: 0 0;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.staynavlink {
  color: #fff;
  text-transform: uppercase;
  margin-right: 20px;
  font-family: Space Project, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  transition: all .3s;
}

.staynavlink:hover {
  color: #04a3c3;
}

.staynavlink.w--current {
  color: #fff;
}

.staynavlink.navlinklast {
  margin-right: 0;
}

.blog-article-header-div {
  z-index: 2;
  padding-top: 30px;
  position: relative;
}

.blog-article-header-img {
  z-index: 2;
  width: 96%;
  height: auto;
  max-width: 880px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: -100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

.blog-content-div {
  z-index: 1;
  background-color: #000;
  padding-top: 160px;
  padding-bottom: 100px;
  position: relative;
}

.blog-page-article-header-div {
  max-width: 880px;
  text-align: center;
  flex-direction: column;
  flex: 1;
  align-items: center;
  display: flex;
}

.blog-article-page-bg {
  z-index: 0;
  opacity: .2;
  filter: blur(5px);
  background-image: url('../images/Star_forming_region.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blog-articles-page-buttons-div {
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.blackbutton {
  min-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .05);
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  font-weight: 500;
  line-height: 14px;
  transition: all .3s;
  display: flex;
}

.blackbutton:hover {
  background-color: #f99473;
  box-shadow: 0 10px 30px #000;
}

.blackbutton.blogbutton {
  background-color: #151515;
  padding-left: 30px;
  padding-right: 30px;
}

.blackbutton.blogbutton:hover {
  background-color: #04a3c3;
  background-image: linear-gradient(#242353, #04a3c3);
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
}

.blackbutton.blogbutton.last-blogbutton {
  margin-left: 10px;
}

.bloghomepagediv {
  max-width: 100%;
  min-width: 50%;
  background-color: #101010;
  flex-direction: column;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 30px;
  display: flex;
}

.bloghomepagediv.bloglast {
  background-color: #101010;
  margin-right: 0;
}

.video-link-blocker {
  z-index: 5;
  transform-style: preserve-3d;
  background-color: #101010;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 100px);
}

.sliderimagecore {
  height: 100%;
  perspective: 1000px;
  object-fit: fill;
  flex: 1;
}

.text-block {
  color: #04a3c3;
  text-decoration: underline;
}

.collection-list-wrapper {
  flex-flow: wrap;
  align-items: flex-start;
  display: flex;
}

.collection-list {
  flex-wrap: wrap;
  flex: 0 auto;
  align-content: stretch;
  align-self: auto;
  align-items: flex-start;
  display: flex;
}

.collection-item {
  align-items: flex-start;
  display: flex;
}

.div-block {
  flex-direction: row;
  justify-content: space-around;
  display: flex;
}

.div-block-2 {
  flex: 0 auto;
  order: 1;
  justify-content: flex-end;
  align-self: center;
  align-items: flex-start;
  margin-left: 16px;
  margin-right: 3px;
  display: flex;
}

.rich-text-block {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

.paragraph {
  color: #fff;
}

.image {
  max-height: none;
  object-fit: fill;
  display: block;
}

.next {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;
  padding: 15px 30px;
  font-size: 20px;
}

.next:hover {
  background-color: #04a3c3;
  background-image: linear-gradient(#242353, rgba(0, 0, 0, 0));
}

.collection-list-wrapper-2 {
  margin-top: 10vh;
}

.h1-copy {
  width: 280px;
  color: #04a3c3;
  text-align: left;
  letter-spacing: -1px;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#04a3c3, rgba(255, 255, 255, .8));
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Bebasneue, sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}

.div-block-3 {
  display: flex;
}

html.w-mod-js [data-ix="slideimagecore-in-app"] {
  opacity: 0;
  transform: scale(.8);
}

html.w-mod-js [data-ix="hero-text-in-app"] {
  opacity: 0;
  transform: rotateX(0)rotateY(90deg)rotateZ(0);
}

html.w-mod-js [data-ix="logo-load-int"], html.w-mod-js [data-ix="nav-link-int-1"], html.w-mod-js [data-ix="nav-link-int-1-no-change-int"], html.w-mod-js [data-ix="nav-link-int-2"], html.w-mod-js [data-ix="nav-link-int-2-no-change-int"], html.w-mod-js [data-ix="nav-link-int-3"], html.w-mod-js [data-ix="nav-link-int-3-no-change-int"], html.w-mod-js [data-ix="nav-link-int-4"], html.w-mod-js [data-ix="nav-link-int-5"], html.w-mod-js [data-ix="nav-link-int-5-no-change-int"] {
  opacity: 0;
  transform: translate(0, -30px);
}

html.w-mod-js [data-ix="header-int"] {
  opacity: 0;
  transform: translate(0, 30px);
}

html.w-mod-js [data-ix="dates-line-int"], html.w-mod-js [data-ix="side-hover-int"], html.w-mod-js [data-ix="side-hover-pager-int"] {
  opacity: 0;
  transform: translate(-50px);
}

html.w-mod-js [data-ix="instaline-int"] {
  opacity: 0;
  transform: scale(.9);
}

html.w-mod-js [data-ix="load-int"] {
  opacity: 0;
}

html.w-mod-js [data-ix="upper-link-in-app"] {
  opacity: 0;
  display: none;
  transform: translate(0, 30px);
}

@media screen and (max-width: 991px) {
  .hero {
    max-height: 700px;
  }

  .logo.footerlogo {
    background-position: 50%;
    margin-bottom: 20px;
  }

  .cz.video-cz, .cz.cz-blog {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .cz.czbio {
    align-items: center;
  }

  .cz.czfooter {
    flex-direction: column;
    align-items: center;
  }

  .cz.cz-dates {
    padding-top: 110px;
  }

  .cz.cz-social {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .sliderimage {
    min-width: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sliderimage.sliderimage2 {
    background-position: 50% 100%;
    background-size: cover;
  }

  .sliderimage.sliderimage3 {
    background-position: 0 0;
    background-size: cover;
  }

  .socialmedia {
    margin-left: 40px;
  }

  .socialmedia.footersocial.footersocialtab {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .sociallink:hover {
    background-color: #242353;
  }

  .navlink {
    margin-right: 0;
    padding: 10px;
  }

  .h2 {
    margin-bottom: 50px;
  }

  .datadiv {
    width: 75%;
    flex: 1;
    padding-right: 30px;
  }

  .place {
    flex: 1;
    padding-right: 30px;
  }

  .datetimetext {
    font-size: 20px;
  }

  .video {
    width: 100%;
    height: 370px;
  }

  .video.videolandsc {
    width: auto;
  }

  .polygonvideo {
    width: 40px;
    height: 50px;
    margin-right: -30px;
  }

  .watchmytext {
    font-size: 50px;
    line-height: 50px;
  }

  .news {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .blogdiv {
    max-width: 47%;
    min-width: 40%;
    align-items: center;
    margin-bottom: 20px;
  }

  .blogdiv.bloglast {
    margin-bottom: 0;
  }

  .blogheader {
    max-width: 380px;
    text-align: center;
  }

  .blogtext {
    text-align: center;
  }

  .tourdatesdiv {
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .insta-photos-line {
    height: 200px;
  }

  .insta-img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
  }

  .video-link-core {
    min-width: 480px;
    flex: 1;
  }

  .pop-up-menu-div {
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .pop-up-core {
    max-width: 280px;
  }

  .remodal-close-link {
    background-color: rgba(255, 255, 255, .05);
    background-size: 14px;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .menu-link {
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Bebasneue, sans-serif;
    font-size: 35px;
    font-weight: 600;
  }

  .menu-link:hover {
    color: #f99473;
  }

  .firstarticle-div {
    max-width: 680px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .first-article-image {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0;
  }

  .first-article-desc-div {
    max-width: 580px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  .first-artvice-h {
    font-size: 50px;
    line-height: 50px;
  }

  .staynavlink {
    margin-right: 0;
    padding: 10px;
  }

  .bloghomepagediv {
    max-width: 100%;
    min-width: 100%;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .bloghomepagediv.bloglast {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  body {
    background-color: #151515;
  }

  h2 {
    margin-top: 10px;
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 13px;
    line-height: 23px;
  }

  li {
    font-size: 13px;
  }

  blockquote {
    font-size: 14px;
  }

  .hero {
    height: auto;
    min-height: 0;
    background-image: url('../images/BgHero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .nav.hero-nav {
    width: 100%;
    margin-bottom: 40px;
  }

  .nav.blog-nav, .logo.footerlogo {
    margin-bottom: 0;
  }

  .navigation.footernavigation {
    margin-top: 10px;
  }

  .cz.video-cz {
    flex-direction: column-reverse;
    padding: 50px 30px;
  }

  .cz.cz-music {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .cz.czbio {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .cz.cz-dates {
    padding-top: 100px;
  }

  .cz.cz-social {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .cz.blog-page-cz {
    margin-bottom: 30px;
  }

  .sliderdiv {
    flex: 0 auto;
  }

  .hero-slider {
    height: 70%;
    min-height: 280px;
    flex: 1;
  }

  .sliderimage {
    height: 280px;
  }

  .slidertext {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .newsingletext {
    font-size: 14px;
    line-height: 14px;
  }

  .h1 {
    width: 210px;
    font-size: 60px;
    line-height: 60px;
  }

  .socialmedia {
    margin-left: 20px;
  }

  .sociallink.footersociallink {
    margin-left: 5px;
    margin-right: 5px;
  }

  .hero-slider-arrows {
    margin-bottom: 40px;
  }

  .h2 {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 40px;
  }

  .h2.minus30pxh2 {
    margin-top: -20px;
  }

  .contacts {
    margin-top: 10px;
  }

  .datesline {
    align-items: flex-start;
    padding-bottom: 25px;
  }

  .standartbutton {
    flex: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .standartbutton.loadmore-blog-button {
    width: 80px;
    margin-top: 0;
    line-height: 25px;
  }

  .datadiv {
    padding-right: 20px;
  }

  .place {
    align-items: flex-start;
    padding-right: 20px;
  }

  .datetimetext {
    font-size: 16px;
    line-height: 16px;
  }

  .timeplacetext, .placetext {
    font-size: 13px;
    line-height: 13px;
  }

  .containdp.containdplandsc {
    margin-bottom: 10px;
  }

  .forconcertorg {
    max-width: 380px;
    font-size: 15px;
    line-height: 22px;
  }

  .underhtext {
    width: 85%;
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 24px;
  }

  .underhtext.blueunderh {
    width: auto;
    margin-bottom: 40px;
  }

  .video {
    width: 100%;
    height: 90vh;
    max-height: 280px;
    margin-top: 30px;
  }

  .video.videolandsc {
    height: 240px;
    margin-right: 0;
  }

  .ellipsevideo {
    width: 120px;
    height: 120px;
    margin-right: -10px;
    transform: none;
  }

  .polygonvideo {
    width: 40px;
    height: 50px;
    border-top-width: 18px;
    border-bottom-width: 18px;
    border-left-width: 30px;
    margin-left: 10px;
    margin-right: 0;
    transform: none;
  }

  .videotext {
    align-items: center;
  }

  .hotnewtag {
    background-image: radial-gradient(circle closest-corner, #cd7b62, rgba(9, 52, 134, 0));
    line-height: 15px;
  }

  .watchmytext {
    text-align: center;
    font-size: 38px;
    line-height: 42px;
  }

  .othervideoslink {
    margin-top: 20px;
  }

  .videolinkarrow {
    display: none;
  }

  .news {
    width: 100vw;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2vw;
    overflow: auto;
  }

  .blogdiv {
    max-width: 100%;
    min-width: 60vw;
    margin-bottom: 0;
    margin-left: 0;
    padding: 20px;
  }

  .musicplayer {
    height: 90vh;
    max-height: 400px;
  }

  .biography {
    align-items: center;
    padding: 30px 20px;
  }

  .aboutmeinfo {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
  }

  .tourdatesdiv {
    background-image: url('../images/tours-bg.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .block-ab {
    display: inline;
  }

  .hero-text-slider {
    height: 100%;
  }

  .hero-bg {
    display: none;
  }

  .insta-photos-line {
    height: 180px;
    margin-bottom: 40px;
  }

  .insta-img {
    width: 180px;
    height: 180px;
  }

  .video-link-core {
    min-width: 100%;
    margin-right: 0;
  }

  .burger {
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .burger-line-1, .burger-line-2 {
    width: 24px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;
  }

  .burger-line-3 {
    width: 24px;
    height: 2px;
    background-color: #fff;
  }

  .remodal-close-link {
    margin-right: 0;
  }

  .nuller {
    width: 1px;
    height: 1px;
    flex: none;
    display: block;
  }

  .upper-link {
    background-color: rgba(0, 0, 0, .75);
  }

  .firstarticle-div {
    margin-bottom: 60px;
  }

  .first-article-image {
    width: 80%;
    height: 90vh;
    max-height: 200px;
    max-width: 480px;
  }

  .first-artvice-h {
    text-align: center;
    font-size: 38px;
    line-height: 42px;
  }

  .nav-div {
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .blog-image {
    width: 100%;
    height: 160px;
    background-size: cover;
  }

  .blog-article-header-div {
    padding-top: 40px;
  }

  .blog-article-header-img {
    height: 280px;
  }

  .blog-content-div {
    padding-top: 140px;
  }

  .blog-article-page-bg {
    background-position: 50% 0;
  }

  .blackbutton {
    flex: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .bloghomepagediv {
    width: 80vw;
    max-width: 80vw;
    min-width: 0;
    flex: none;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .bloghomepagediv.bloglast {
    margin-right: 2vw;
  }

  .sliderimagecore {
    flex: 1;
    margin-left: -50px;
  }

  .h1-copy {
    width: 210px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 479px) {
  ul {
    padding-left: 20px;
  }

  blockquote {
    padding-left: 20px;
    font-size: 12px;
    line-height: 24px;
  }

  .hero {
    max-height: none;
    padding-top: 0;
  }

  .nav {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .logo {
    width: 140px;
    background-position: 0;
    margin-bottom: 0;
  }

  .cz.video-cz {
    padding-left: 15px;
    padding-right: 15px;
  }

  .cz.cz-blog {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .cz.cz-dates {
    padding-top: 80px;
  }

  .sliderdiv {
    flex-direction: column;
  }

  .hero-slider {
    width: 90vw;
    height: auto;
    max-height: auto;
    min-height: 0;
    flex: 0 auto;
    margin-left: 0;
  }

  .sliderimage {
    height: 180px;
  }

  .slidertext {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 0;
    display: flex;
  }

  .newsingletext {
    margin-bottom: 10px;
  }

  .h1 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13vw;
    line-height: 1em;
  }

  .buttonplaynow {
    background-image: repeating-radial-gradient(circle closest-corner, #04a3c3, rgba(9, 52, 134, 0));
  }

  .socialmedia {
    margin-top: 20px;
    margin-left: 0;
    display: flex;
  }

  .socialmedia.footersocial.footersocialtab {
    justify-content: center;
    align-items: center;
  }

  .sociallink {
    margin: 0 5px;
  }

  .navlink.navlinklast {
    font-size: 12px;
    line-height: 12px;
  }

  .h2.minus30pxh2 {
    margin-top: -20px;
    font-size: 40px;
    line-height: 40px;
  }

  .contacts {
    margin-top: 20px;
  }

  .datesline {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .standartbutton {
    padding: 5px 30px;
  }

  .datadiv {
    width: 85%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 0;
  }

  .place {
    width: 160px;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 0;
  }

  .datetimetext {
    margin-bottom: 5px;
    line-height: 24px;
  }

  .timeplacetext {
    text-align: center;
    font-size: 12px;
  }

  .placetext {
    font-size: 12px;
  }

  .containdp {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .forconcertorg {
    max-width: none;
  }

  .underhtext, .underhtext.blueunderh {
    width: 100%;
  }

  .video {
    height: 180px;
  }

  .video.videolandsc {
    height: 150px;
  }

  .ellipsevideo {
    width: 80px;
    height: 80px;
  }

  .polygonvideo {
    width: 30px;
    height: 30px;
    margin-right: 0;
  }

  .hotnewtag {
    background-image: radial-gradient(circle closest-corner, #04a3c3, rgba(9, 52, 134, 0));
    line-height: 15px;
  }

  .news {
    width: 100vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    overflow: auto;
  }

  .blogdiv {
    width: 90vw;
    flex: none;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 10px 10px 20px;
  }

  .blogheader {
    font-size: 14px;
    line-height: 22px;
  }

  .biography {
    align-items: center;
  }

  .aboutmeinfo {
    text-align: center;
  }

  .tourdatesdiv {
    padding-left: 20px;
    padding-right: 20px;
  }

  .numberslider {
    height: 30px;
  }

  .active-slide-number {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    display: flex;
  }

  .hero-slider-core {
    flex-direction: column;
    align-items: stretch;
  }

  .hero-text-slider {
    height: 100%;
    max-width: 100%;
    margin-right: 0;
  }

  .slider-text-core {
    margin-right: 0;
  }

  .hero-bg {
    background-image: linear-gradient(to bottom, null, null), url('../images/hero-bg.jpg');
    background-position: 0 0, 50%;
  }

  .burger {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    display: flex;
  }

  .burger-line-1, .burger-line-2 {
    width: 24px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;
  }

  .burger-line-3 {
    width: 24px;
    height: 2px;
    background-color: #fff;
  }

  .nuller {
    width: 1px;
    flex: none;
    display: block;
  }

  .upper-link {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
  }

  .up-icon {
    width: 10px;
    height: 16px;
  }

  .firstarticle-div {
    margin-bottom: 60px;
  }

  .first-article-image {
    width: 90%;
    height: 180px;
  }

  .first-artvice-h {
    font-size: 36px;
    line-height: 40px;
  }

  .nav-div {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .staynavlink.navlinklast {
    font-size: 12px;
    line-height: 12px;
  }

  .blog-article-header-img {
    height: 200px;
  }

  .blog-content-div {
    padding-bottom: 60px;
  }

  .blog-articles-page-buttons-div {
    width: 100%;
    flex-flow: column wrap;
    align-items: stretch;
  }

  .blackbutton {
    padding: 5px 30px;
  }

  .blackbutton.blogbutton {
    margin-bottom: 10px;
  }

  .blackbutton.blogbutton.last-blogbutton.w--current {
    margin-left: 0;
  }

  .bloghomepagediv {
    width: 90vw;
    max-width: 90vw;
    flex: none;
    margin-bottom: 0;
    margin-right: 10px;
  }

  .video-link-blocker {
    top: -4px;
    transform: translate3d(0, 0, 60px);
  }

  .sliderimagecore {
    margin-left: 0;
  }

  .h1-copy {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13vw;
    line-height: 1em;
  }

  .div-block-3 {
    max-width: 100%;
  }
}


@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2'), url('../fonts/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fa-regular-400.woff') format('woff'), url('../fonts/fa-regular-400.ttf') format('truetype'), url('../fonts/fa-regular-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fa-solid-900.ttf') format('truetype'), url('../fonts/fa-solid-900.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2'), url('../fonts/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fa-brands-400.woff') format('woff'), url('../fonts/fa-brands-400.ttf') format('truetype'), url('../fonts/fa-brands-400.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Bebasneue';
  src: url('../fonts/BebasNeue-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Bebasneue';
  src: url('../fonts/BebasNeue-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Bebasneue';
  src: url('../fonts/BebasNeue-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Bebasneue book';
  src: url('../fonts/BebasNeue-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Bebasneue';
  src: url('../fonts/BebasNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Space Project';
  src: url('../fonts/Project-Space.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fandore';
  src: url('../fonts/Fandore.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}